### âœ… Day 2: Data Structures  
- Lists, Tuples, Sets, Dictionaries  
- Indexing, slicing, and methods  
- ðŸ“ **Practice**: Create a dictionary of students & marks, print topper.

## Lists[ ]
 * **Ordered**
 * **Mutable(changeable) collection of items**
 * **Mixed Datatypes - numbers,strings,nested or other lists**
 * **Stored within Square brackets[]**

In [18]:
mylist=[1,2,3,'be consistent']
print(mylist)

[1, 2, 3, 'be consistent']

In [4]:
empty_list = []
numbers = [1, 2, 3, 4, 5]
mixed = [1, "apple", True, 3.14]
nested = [[1, 2], [3, 4]]

In [8]:
nums = [10, 20, 30, 40, 50]

print(nums[0])   #first element â†’ 10
print(nums[-1])  #last element â†’ 50
print(nums[1:4]) #slicing â†’ [20, 30, 40] include 1st element and excludes 4th element in this example
nums[1] = 200   # change value or modify
print('After i modified nums :',nums)

10
50
[20, 30, 40]
After i modified nums : [10, 200, 30, 40, 50]

In [9]:
nums = [1, 2, 3]
nums.append(4)       #add at end
nums.insert(1, 10)   #insert at index 1 with value of 10
nums.extend([5, 6])  #extend with another list at the end of nums list
print(nums)          #[1, 10, 2, 3, 4, 5, 6]

[1, 10, 2, 3, 4, 5, 6]

* Its better to know some common list methods that we use

In [16]:
nums = [10, 20, 30, 40, 20]
print(len(nums))        #length â†’ 5
print(nums.count(20))   #frequency of 20 is 2
print(nums.index(30))   #index of 30 is 2
nums.sort()             #sort ascending By default
print(nums)
nums.reverse()          #reverse the list
print(nums)

5
2
2
[10, 20, 20, 30, 40]
[40, 30, 20, 20, 10]

## Tuples()
* **Ordered**
* **Immutable**
*  **Mixed Datatypes**
*  **Faster than lists**
*   **Hashable, can be used as dictionary keys**

In [20]:
mytuple = (1, 2, 3, "Be consistent ", 4.5)
print(mytuple)

(1, 2, 3, 'Be consistent ', 4.5)

In [21]:
empty_tuple = ()
single_element = (5,)   # need comma for single element
numbers = (1, 2, 3, 4, 5)
mixed = (1, "hello", True, 3.14)
nested = ((1, 2), (3, 4))

In [23]:
nums = (10, 20, 30, 40)

print(nums[0])    # first element is 10
print(nums[-1])   # last element is 40
print(nums[1:3])  # slicing is (20, 30)

10
40
(20, 30)

In [24]:
nums = (10, 20, 30, 20, 40)

print(len(nums))        # length is 5
print(nums.count(20))   # frequency of 20 is 2
print(nums.index(30))   # index of 30 is 2

5
2
2

In [25]:
fruits = ("apple", "banana", "cherry")

a, b, c = fruits
print(a)  # apple
print(b)  # banana
print(c)  # cherry

apple
banana
cherry

In [28]:
nested = (("Tarun", 25), ("bits", 30))

for name, age in nested:
    print(f"{name} is {age} years old")

Tarun is 25 years old
bits is 30 years old

In [28]:
nested = (("Tarun", 25), ("bits", 30))

for name, age in nested:
    print(f"{name} is {age} years old")

Tarun is 25 years old
bits is 30 years old

In [28]:
nested = (("Tarun", 25), ("bits", 30))

for name, age in nested:
    print(f"{name} is {age} years old")

Tarun is 25 years old
bits is 30 years old

## Sets
* **Unordered**
* **Unique**
* **Mutable**

In [ ]:
empty_set = set()           # correct way
wrong_set = {}              # its wrong creates a dictionary, not set

my_set = {1, 2, 3, 4}
mixed = {1, "apple", True, 3.14}

In [1]:
empty_set = set()           # âœ… correct way
wrong_set = {}              # âŒ creates a dictionary, not set
numbers = {1, 2, 3, 4, 4}   # duplicates will be removed automatically  {1, 2, 3, 4}
mixed = {1, "apple", True, 3.14}

In [2]:
nums = {1, 2, 3}
#We are adding and removing elements using built in methods
nums.add(4)       # add one element
nums.update([5,6])# add multiple elements
nums.remove(2)    # remove element (error if not found)
nums.discard(10)  # remove element (no error if not found)
nums.pop()        # remove random element
nums.clear()      # empty the set

In [4]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print(A | B)   # or print(A.union(B)) can be used,  union - {1,2,3,4,5,6}
print(A & B)   # or print(A.intersection(B)) can be used,  intersection - {3,4}
print(A - B)   # or print(A.difference(B)) can be used,  difference - {1,2} 
print(A ^ B)   # or print(A.symmetric_difference(B) can be used, symmetric difference - {1,2,5,6} (Union - Intersection)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

> **Cornerstone** :Sets are widely used in data cleaning for ML (removing duplicate values from datasets).

## Dictionary 
* **Mutable**
* **Unordered**
* **Unique**
* **Keys must be immutable**
* **Dynamic**

In [9]:
student = {
    "name": "Tarun",
    "age": 24,
    "marks": [85, 90, 92]
}

In [10]:
#Accessing 
print(student["name"])      # Tarun
print(student.get("age"))   # 24
print(student.get("grade", "NA"))  # NA (safe access)

# Update
student["age"] = 23
print(student)  
# {'name': 'tarun', 'age': 23, 'marks': [85, 90, 92]}

Tarun
24
NA
{'name': 'Tarun', 'age': 23, 'marks': [85, 90, 92]}

In [11]:
print(student.keys())    # dict_keys(['name', 'age', 'marks'])
print(student.values())  # dict_values(['Tarun', 23, [85, 90, 92]])
print(student.items())

dict_keys(['name', 'age', 'marks'])
dict_values(['Tarun', 23, [85, 90, 92]])
dict_items([('name', 'Tarun'), ('age', 23), ('marks', [85, 90, 92])])

In [12]:
student.pop("age")    
print(student)  
# {'name': 'Tarun', 'marks': [85, 90, 92], 'grade': 'A'}

student.popitem()  
print(student)  
# randomly removes last key - {'name': 'Tarun', 'marks': [85, 90, 92]}

{'name': 'Tarun', 'marks': [85, 90, 92]}
{'name': 'Tarun'}

In [16]:
#insert if missing
student.setdefault("city", "Delhi")
print(student)  
# {'name': 'Tarun', 'marks': [85, 90, 92], 'city': 'Delhi'}

{'name': 'Tarun', 'city': 'Delhi'}

In [17]:
# init dictionary
keys = ["a", "b", "c"]
d = dict.fromkeys(keys, 0)
print(d)   # {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}

In [19]:
# Dictionary Comprehension
squares = {x: x**2 for x in range(5)}
print(squares) 
# {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

> **Cornerstone** : To Store model configs, Dataset records, map features to encoding, count word frequencies